noremap H ^
noremap L $

map s <nop>
map S :w<CR>
map Q :q<CR>
inoremap jk <Esc>
snoremap jk <Esc>

nnoremap < <<
nnoremap > >>

map <c-c> :qa<CR>

noremap sk :set nosplitbelow<CR>:split<CR>:set splitbelow<CR>
noremap sj :set splitbelow<CR>:split<CR>
noremap sh :set nosplitright<CR>:vsplit<CR>:set splitright<CR>
noremap sl :set splitright<CR>:vsplit<CR>

" ===
" === Tab Maps
" ===
nnoremap tn :tabnext<CR>
nnoremap tN :tabnew<CR>
nnoremap tb :tabprevious<CR>
nnoremap tc :tabclose<CR>

"显示行号
"set nu
"显示相对行号
set relativenumber
"在光标所在行下显示一条线
set cursorline
"自动换行
set wrap
"在右下角显示输入的字符
set showcmd
set mouse=a
set helplang=cn
set nobackup
"搜索
"忽略大小写
set ignorecase
set hls
exec "nohls"
map <leader><CR> :nohls<CR>
set smartcase

"set backspace=2
set backspace   =indent,eol,start  " Make backspace work as you would expect.

" 上下保证5行显示
set scrolloff=5

"设置高亮显示行尾不必要的空格,并适用给文件
highlight Whitespace ctermbg=red guibg=red
au BufRead,BufNewFile *.py,*.c,*.h,*.java match Whitespace /\s\+$\ \+/

"恢复到上次关闭⽂件时光标所在的位置
au BufReadPost * if line("'\"") > 1 && line("'\"") <= line("$") | exe "normal! g'\"" | endif
